# EmailJS Configuration
# Obtenez vos clés sur https://www.emailjs.com/
# Copiez ce fichier vers .env et remplissez avec vos vraies valeurs

VITE_EMAILJS_SERVICE_ID=
VITE_EMAILJS_TEMPLATE_ID=
VITE_EMAILJS_PUBLIC_KEY=

